.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;

}

.main-container {
    width: 800px;
    margin: 0 auto;
}

.post {
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.post-preview {
  background-color: #353333;
  padding: 15px;
}

.post-title {
  color: rgb(255, 255, 255);
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 14px;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
  max-width: 100%; /* Añade esta propiedad */
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.tag {
  display: inline-block;
  color: #fff;
  background-color: #888;
  border-radius: 5px;
  margin: 2px;
  padding: 2px 5px;
  font-size: 12px;
}

@media only screen and (max-width: 578px) {
  .post {
    width: 90%;
    margin: auto;

  }
  .main-container{
    width: 90%;
    margin: auto;

  }
  .post-wrapper {
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
    }
}


/* navbar */
@media (min-width : 992px) {
    .offcanvas {
      visibility      : visible;
      position        : relative;
      background      : none;
      border          : none;
      justify-content : end;
      color           : #121212
    }
  }
  
  @media (max-width : 992px) {
    .offcanvas {
      width : 250px !important;
    }
  
    .offcanvas-start-lg {
      top          : 0;
      left         : 0;
      border-right : 1px solid rgba(0, 0, 0, .2);
      transform    : translateX(-100%);
    }
  
  }
  
  .navbar-nav li a {
  color: white !important;
  }

   /*boton*/
   .btnsignup{
    padding: 5px 5px;
    border-radius: 10px;
    border: 0;
    background-color: #09ff00;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    box-shadow: #0aca00 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    
   }
   
   .btnsignup:hover {
    box-shadow: #0aca00 0px 7px 0px 0px;
   }
   
  .btnsignup:active {
    background-color: #0aca00;
    /*50, 168, 80*/
    box-shadow: #0aca00 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
   }

   .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .pagination a {
    color: #333;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .pagination a:hover {
    background-color: #ccc;
  }
  
  .pagination .active {
    background-color: #333;
    color: #fff;
  }

/* spiner */
